/*rgba(252, 218, 0, 1);
rgba(137, 197, 64, 1);
rgba(0, 65, 60, 1);
black;*/

body {
  background: white;
  margin: 0px;
}

#main > article {
  margin-left: 15%;
  margin-right: 15%;
 }

footer {
 display: block;
 min-height: 90px;
 height: 58px;
 }

nav {
  display: block;
  min-height: 68px;
  background: rgba(137, 197, 64, 1);
  border-bottom: 5px solid rgba(252, 218, 0, 1);
  padding-right: 5vw;
  padding-left: 5vw;
}

.hero {
  background-image: url(../images/Viva-Streets-Austin--by-Bike-Texas.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.hero:before {
	display: block;
	content: "";
	padding: 30%;
}

.logo-div {
  margin-top: -25vw;
  background-image: url(../images/cencalvia2-yellow-green.svg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
  z-index: 1 !important;
}

.logo-div:before {
	display: block;
	content: "";
	padding: 30%;
}

.hero-text-container {
    position: inherit;
    bottom: 25px;
    margin-left: 4%;
    margin-top: -28%;
}

#subhead {
  position: inherit;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  font-size: 3vw;
  margin-left: 8%;
  line-height: 3vw;
  padding-bottom: 3vw;
}

.subhead-container {
  position: inherit;
  margin-top: -3%;
}

h2 {
  font-size: 3vw;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: black;
}

p {
  font-family: "Helvetica", sans-serif;
}

#navbar-div {
  text-align: center;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}
.navbar-text {
  margin: auto 0;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a, a p {
  text-decoration: none;
  color: rgba(36, 145, 208, 1);
}

#map {
  height: 300px;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(252, 218, 0, 1);
}

h3 {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 2.5em;
  margin-bottom: -14px;
}
.blue {
  color: rgba(36, 145, 208, 1);
}
.yellow {
  color: rgba(252, 218, 0, 1);
}
.green {
  color: rgba(137, 197, 64, 1);
}

.the-plan, .page-header {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 4em;
  margin-left: -10px;
  color: black;
}

.spacer-div {
  height: 30px;
}

.heart-ciclovia {
  background-image: url(../images/img2469byalyssabird.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
  border-bottom: 3px solid rgba(252, 218, 0, 1);
}
.heart-ciclovia:before {
	display: block;
	content: "";
	padding: 33%;
}

footer {
  border-top: 5px solid rgba(252, 218, 0, 1);
  min-height: 50px;
}

.FCBC-footer-link {
  background: rgba(137, 197, 64, 1);
  width: 100%;
  height: auto;
}

.FCBC-footer-link > p, .FCBC-logo-div {
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  margin-left: 15%;
  margin-top: 0vw;
  display: block;
}

.FCBC-footer-link > p {
  padding-top: 2vw;
}

.FCBC-logo-div {
  background-image: url(../images/FCBC-LOGO-T.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 15vw;
  height: 0vw;
  padding-bottom: 12vw;
}

.FCBC-logo-div:before {
  display: block;
	content: "";
	padding: 33%;
}

.footer-credits {
  background: gray;
  height: 5vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  display: block;
}

.left-footer-div {
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  margin-left: 15%;
  padding-top: 14px;
  display: block;
}
.left-footer-div a {
  color: black;
}
.right-footer-div {
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  margin-right: 15%;
  margin-top: -13px;
  float: right;
  display: block;
  text-align: right;
}
.right-footer-div-about {
  font-family: "Helvetica", sans-serif;
  font-size: 11px;
  margin-right: 15%;
  margin-top: 14px;
  float: right;
  display: block;
  text-align: right;
}

.site {
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}
.site-content {
  -webkit-flex: 1;
          flex: 1;
}

.less-top-margin-h3 {
  margin-top: 10px;
}

@media only screen and (max-width: 640px) {
  html {
    position: relative;
  }

  #main > article {
    margin-left: 0;
    margin-right: 0;
    width: 100%
  }

  #main > #left-space, #main > #right-space {
    min-height: 0px;
    max-height: 0px;
  }

  nav {
    border-bottom: 3px solid rgba(252, 218, 0, 1);
  }
  .navbar-text {
    margin-top: 22px;
  }
  .heart-ciclovia {
    margin-top: 0px;
  }
  .logo-div {
    margin-top: -37vw
  }
  #headline {
    font-size: 18.5vw;
  }
  #subhead {
    font-size: 4.5vw;
  }
  .subhead-container {
    margin-top: 1%;
  }
  .the-plan {
    margin-bottom: -25vw;
  }
  h2 {
    font-size: 4.5vw;
  }
  .page-header {
    font-family: "Bowlby One SC", sans-serif;
    font-size: 4em;
    margin-left: -5px;
    color: black;
  }
  .article-text-padding {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  footer {
    border-top: 3px solid rgba(252, 218, 0, 1);
    width: 100%;
    position: absolute;
    bottom: -5vw;
  }
  .FCBC-logo-div {
    background-image: url(../images/FCBC-LOGO-T.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    height: 9vw;
    padding-bottom: 11vw;
  }
  .FCBC-footer-link > p,
  .FCBC-footer-link > a,
  .FCBC-footer-link > a > div {
    margin-left: 5vw;
  }
  .FCBC-footer-link > p {
    padding-top: 5vw;
  }
  .footer-credits {
    padding-bottom: 3em;
  }
  .left-footer-div {
    margin-left: 5vw;
  }
  .right-footer-div {
    margin-right: 5vw;
  }
  .site {
    display: -webkit-block;
    display: block;
    -webkit-flex-flow: none;
            flex-flow: none;
    min-height: 0px;
  }
  .site-content {
    -webkit-flex: 0 auto;
            flex: 0 auto;
  }
}
